language: node_js
node_js:
  - '5'
  - '4'
before_install:
  - 'npm install -g npm@latest'
services:
  - mongodb
before_script:
  - sleep 15
script:
  - 'npm run prepare-for-prod'
after_success:
  - './node_modules/.bin/nyc report --reporter=text-lcov | ./node_modules/.bin/coveralls'
deploy:
  provider: heroku
  api_key:
      secure: HEROKU_KEY
  app: mazortech

