.medical-diagnostic-item{
  height: 65px;
  background: #FFF;
  padding-left: 2em;
  border-bottom: 1px solid #AAA;
  display: inline-flex;
  align-items: center;
  min-width: 300px;
  width: 100%;
}
