
/* local page styles */
html h1{
  font-size: 26px;
  margin-left: 10px;
}
html h2{
  font-size: 22px;
  margin-left: 10px;
}
html h3{
  font-size: 14px;
  margin-left: 10px;
}
html h4{
  font-size: 16px;
}
.progtrckr{
  text-align: center;
  padding-bottom: 16px;
/* border-bottom: solid 1px;*/
}
.progtrckr li{
  margin-bottom: 10px;
}
.val-err-tooltip{
  background-color: red;
  padding: 3px 5px 3px 10px;
  font-size: 14px;
  color: #fff;
}


html .row, html .form-horizontal .form-group{
  margin: 0;
}
.footer-buttons{
  margin-top: 10px;
  margin-bottom: 50px;
}
html .step3 label, html .step4 label{
  font-size: 20px;
  text-align: left;
}
html .form-horizontal .control-label{
  text-align: left;
}
.review .txt{
  font-size: 20px;
  text-align: left;
  margin: 0;
  padding: 0;
}
html body .saving{
  background-color: #5cb85c;
  width: 90%;
  padding: 5px;
  font-size: 16px;
}
code{
  position: relative;
  left: 12px;
  line-height: 25px;
}
.eg-jump-lnk{
  margin-top: 50px;
  font-style: italic;
}
.lib-version{
  font-size: 12px;
  background-color: rgba(255, 255, 0, 0.38);
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
}
html .content{
  margin-left: 10px;
}
span.red{
  color: #d9534f;
}
span.green{
  color: #3c763d;
}
span.bold{
  font-weight: bold;
}
html .hoc-alert{
  margin-top: 20px;
}
html .form-block-holder{
  margin-top: 20px !important;
}
ol.progtrckr{
  margin: 0;
  padding-bottom: 2.2rem;
  list-style-type: none;
}
ol.progtrckr li{
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  padding: 0 0.7rem;
  cursor: pointer;
}
ol.progtrckr li span{
  padding: 0 1.5rem;
}
@media (max-width: 650px){
  .progtrckr li span{
    display: none;
  }
}
.progtrckr em{
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}
@media (max-width: 650px){
  .progtrckr em{
    display: inline;
   }
}

ol.progtrckr li.progtrckr-todo{
  color: silver;
  border-bottom: 4px solid silver;
}
ol.progtrckr li.progtrckr-doing{
  color: black;
  border-bottom: 4px solid #33C3F0;
}
ol.progtrckr li.progtrckr-done{
  color: black;
  border-bottom: 4px solid #33C3F0;
}
ol.progtrckr li:after{
  content: "\\00a0\\00a0";
}
ol.progtrckr li:before{
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}
ol.progtrckr li.progtrckr-todo:before{
  content: "\\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}
ol.progtrckr li.progtrckr-todo:hover:before{
  color: #0FA0CE;
}

ol.progtrckr li.progtrckr-doing:before{
  content: "\\2022";
  color: white;
  background-color: #33C3F0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-doing:hover:before{
  color: #0FA0CE;
}

ol.progtrckr li.progtrckr-done:before{
  content: "\\2713";
  color: white;
  background-color: #33C3F0;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}
ol.progtrckr li.progtrckr-done:hover:before{
  color: #0FA0CE;
}

.wizard-spacer{
  visibility: hidden;
  /*background-color: blue;*/
  width:calc(1000 - 150px);
}

@media (max-width: 850px){
  .wizard-spacer{
    width:100%
  }
}
